.section_home {

min-height: 100vh;
  background-image: url('../img/section_home.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  // .section_home_desc {
  //   line-height: 2em;
  // }
@media (max-width: 767px) {
} //media
@media (min-width: 768px) {
} //media
@media (max-width: 1023px) {
} //media
@media (min-width: 1024px) {
} //media
} //.section_home
