// ################ VARIABLES ONLY ###########
$font_default: 'Montserrat', sans-serif;
$font_weight: normal;
$font_size: 100%;
$awesome: 'FontAwesome';

$wrapper:1200px; //without padding
$padding: 20px;

$color1: #666666;
// $color2: #888888;
//
// $color_h: #333333;
//
$orange: #ea623d;
//
$background: #ffffff;
// $background2: #f5f5f5;
// $background3: #453951;
//
$white: #FFFFFF;

$menu_height: 89px;
