// ################ VARIABLES ONLY ###########
$font_default: 'Montserrat', sans-serif;
$font_secondary: 'Lobster', cursive;
$font_weight: normal;
$font_size: 100%;
$awesome: 'FontAwesome';

$wrapper:1200px; //without padding
$padding: 20px;

$color1: #818181;

$background: #49433c;

$menu_height: 89px;

$background_page: $background;
$background_page: red;

$orange: #ea623d;
$white: #FFFFFF;
