// ################ VARIABLES ONLY ###########
$font_default: 'Montserrat', sans-serif;
$font_secondary: 'Lobster', cursive;
$font_weight: 300;
$font_size: 100%;
$awesome: 'FontAwesome';

$wrapper:1200px; //without padding
$padding: 10px;

$white: #FFFFFF;

$color1: #9b9b9b;
$yellow: #efaa15;

$background: #49433c;
$background2: #3a3630; //darker

$menu_height: 89px;
$menu_color: darken( $color1, 10% );

$background_page: $background;

$selection_txt: $white;
$selection_bgn: $color1;

$orange: #ea623d;
